<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fideos Caseros</title>
</head>
<body>
    <h1>Receta para Fideos Caseros</h1> <strong></strong>
    <p>Nada mejor como amasar unos fideso caseros. Los podemos acompañar con tuco, con crema o la salsa que mas te guste.
        Son muy faciles de hacer y lo mejor es que estan masados con nuestras manos.
    </p>
    <hr>
    <h2>Los Ingredientes:</h2>
    <ul>
        <li>6 huevos</li>
        <li>600g de harina</li>
        <li>1 cdita de sal</li>
    </ul>
    <h2>El Paso a Paso:</h2>
    <ol>
        <li>Poner un bol la harina, haciendo una corona. Poner los huevos en el centro, agregar la sal.</li>
        <li>Comenzar a tomar la harina hasta formar una masa firme. Dejarla descansar unos 20 minutos.</li>
        <li>Estirarla lo mas fina posible, espolvorearla con harina y cortar los fideos del ancho que mas te guste.</li>
    </ol>
<a href="https://cookpad.com/ar/recetas/291708-tallarines-caseros-al-huevo" target="_blank">Podes leer la receta en <strong>Cookpad</strong></a>
<br>
<a href="RecetaFlanCasero.html">Leer la receta de <em>Flan Casero</em></a>
<br>
<a href="../../index.html">VOLVE AL INICIO</a>
</body>
</html>