<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flan Casero</title>
</head>
<body>
    <h1>Receta Flan Casero</h1> <strong></strong>
    <p>La receta del flan que hacia tu abuela, te la vamos a enseñar, super facil, para hacerla en cualquier momento y compartir con tus seres queridos.</p>
    <hr>
    <h2>Los ingredientes que tenes que tener:</h2>
    <h3>Para el Flan:</h3>
    <ul>
        <li>80g de azucar</li>
        <li>700cc de Leche</li>
        <li>10 huevos</li>
        <li>1 cucharadita de escencia de vainilla</li>
    </ul>
    <h3>Para el Caramelo</h3>
    <ul>
        <li>100g de azucar</li>
    </ul>
    <h2>Te damos el paso a paso:</h2>
    <ol>
        <li>Primero hacemos el caramelo, lo podes hacer en el mismo molde donde vas a cocinar el flan</li>
        <li>En un bol abrimos los 10 huevos</li>
        <li>Luego agregamos el azucar, la escencia de vainilla y mezclamos</li>
        <li>Ponemos la leche y seguimos mezclando</li>
        <li>A continuacion colamos la preparacion en la flanera para que no hayan grumos del huevo.</li>
        <li>Lo ponemos en el horno a baño maria</li>
        <li>Tenemos que esperar 1hora y media mas o menos. Pero si al meter un cuchillo, sale seco! ya esta listo</li>
        <li>Por ultimo, lo metemos a la heladera para que se enfrie bien.</li>
    </ol>
   <a href="https://cookpad.com/ar/recetas/16836116-flan-casero-original?ref=search&search_term=flan%20casero%20argentina" target="_blank">Podes leer la receta en <strong>Cookpad</strong></a> 
   <br>
   <a href="RecetaFideosCaseros.html">Leer receta de <em>Fideos Caseros</em>
    <br>
    <a href="../../index.html">VOLVE AL INICIO</a>
</body>
</html>